/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid red; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: auto;
    /* margin: 0px; */
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
}

.main-container {
    width: 100%;
    /* max-width: 1440px; */
    padding: 0 50px;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    margin-left: 50px;
}

header>img {
    width: 61px;
    height: 19px;
    margin-top: 20px;
}

.barre-header {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    visibility: hidden;
}

/*Décoration pour la barre au dessus des éléments de navigation*/
header nav ul li {

    position: relative;
    padding-bottom: 5px;
}

header nav ul li:hover::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
}

header a:hover {
    color: var(--main-color);
}

/****** Research ***********/
.headline h1 {
    font-size: 1.375rem;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
    height: 49px;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

input[type="text"] {
    border: 0.5px solid rgb(227, 227, 227);
    border-left: none;
    border-right: none;
    text-align: center;
    width: 190px;
    height: 46px;
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    width: 132px;
    height: 49px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.fa-location-dot {
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    color: black;
}

.fa-magnifying-glass {
    visibility: hidden;
}


.search-bar-logo-container {
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

/*************************Filter*********************/
.filter {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.filter-list {
    display: flex;
    padding: 0px;
}

.filter-list span {
    margin: 10px;
}

.filter-shape {
    height: 50px;
    /* width: 150px; */
    border: 1px solid grey;
    border-radius: 25px 25px 25px 25px;
    margin: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-list li {
    padding: 0 10px;
    display: flex;
    flex-wrap: nowrap;
}

.filter-list li.filter-shape:hover {
    background-color: var(--filter-bg-color);
}

/*******************Infobar***************/
.info-bar {
    display: flex;
}

.fa-info {
    height: 4px;
    /* width: 4px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-bar-icon-container {
    padding: 5px;
    display: flex;
    width: 15px;
    height: 15px;
    position: relative;
    top: 1px;
    border: solid 1px grey;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-around;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 20px;
}


/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

#hebergements h4 {
    font-weight: bold;
    margin-top: 50px;
}

#hebergements h3 {
    margin-bottom: 12px;
    
}

.hebergements-cards {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 15px; */
    /* padding: 30px;
     */
}

.hebergements-cards .card {
    width: calc(33% - 20px);
    height: 207px;
    margin-bottom: 30px;
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.card-rating {
    padding: 5px 0;
}

.card-subtitle {
    /* line-height: 1rem; */
    font-size: 0.875rem;
    margin-top: 0;
    /* margin-bottom: 8px; */
}

.card-title {
    line-height: 1rem;
    font-size: 1rem;
    margin-top: 20px;
    /* text-align: left; */
}

.hebergements-cards .card-content {
    width: 100%;
    /* padding-left: 15px; */
    line-height: 5px;
    box-sizing: border-box;
    /* display: flex; */
    flex-direction: column;
    margin-left: 5px;
    margin-top: -20px;
    /* justify-content: center; */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    /* height: 700px; */
}

.populaires-cards {
    margin-top: -30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
    /* font-size: 1rem; */
}

.fa-chart-line {
    margin-top: -12px;
}

.populaires .section-title {
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**************************ACTIVITES*************/

#activites {
    /* background-color: red; */
    padding: 30px;
    /* width: 100%; */
    max-width: 1440px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.activites-card-shape {
    /* max-height: 439px; */
    width: calc(25% - 15px);
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px 20px 20px 20px;
    /* margin: 20px; */
}

#activites img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.activites-title {
    margin-bottom: 50px;
}

#activites h3 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 1rem;
}

#activites a {
    display: block;
}

/**************FOOTER*******************/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    /* align-items: center; */
}

footer h3 {
    text-align: left;
}

footer li {
    text-align: left;
    /* margin-right: 130px; */
    line-height: 2rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        /* justify-content: flex-start; */
    }

    #hebergements {
        width: 100%;
    }

    .filter {
        flex-direction: column;
        align-items: start;
    }

    .filter-list {
        margin: 0px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.813rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.813rem;
    }

    #activites img {
        /* width: 100%; */
        height: 193px;
        /* border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover; */
    }

    /* #activites{
        width: 100%;
        
    } */

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0 0;
        /* margin: none; */
        width: max-content;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 29px 0px;
    }


    .header-nav {
        width: 100%;
        margin: auto;
    }


    .header-nav>ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .header-nav>ul>li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .barre-header {
        visibility: visible;
        margin-bottom: 20px;
        width: 100%;
    }


    .search-bar {
        width: 90%;
        /* margin-left: 8.125rem; */
        align-items: center;
        justify-content: center;
    }

    header nav ul li {
        position: relative;
        padding-bottom: 15px;
    }

    header nav ul li:hover::before {
        content: "";
        position: absolute;
        top: 32px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
    }

    /********************Info groupe***************/

    .info-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: max-content; */
    }

    .headline {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
        padding: 20px;
    }


    input[type="submit"] {
        background-color: var(--main-color);
        color: white;
        border: none;
        border-radius: 15px;
        /* visibility: hidden; */
        display: none;
    }

    input[type="text"]{
        width: 90%;
    }

    .fa-magnifying-glass {
        visibility: visible;
        background-color: var(--main-color);
        color: white;
        border: none;
        border-radius: 15px;
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -5px;
        box-shadow: 1px 2px 1px lightgrey;
    }

    /* .search-bar form{
    justify-content: center;
    align-items: center;
}
input[type="text"]{
    width: 90%;
  
} */

    .filter {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filter h3 {
        text-align: left;
        margin: 0;
        margin-left: 40px;
        padding: 0;
        width: 100%;
    }

    .filter-list {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        padding: 0;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .filter-list li.filter-shape {
        box-sizing: border-box;
        width: 44%;
        margin: 5px;
    }





    #activites {
        margin: auto;
        padding: 40px;
    }

    #activites img {
        /* width: 100%; */
        height: 141px;
        /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover; */
    }

    .activites-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .hebergements-and-populaires {
        order: inherit;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires {
        order: -1;
        margin-bottom: 20px;
    }

    .populaires a {
        width: 100%;
    }


    #hebergements {
        background-color: white;
        width: 100%;
        padding: 50px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-and-populaires section{
        margin: 20px 0;
    }

    .hebergements-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
        height: 207px;
    }

    .hebergements-cards .card img {
        width: 100%;
        object-fit: cover;
        height: 124px;
    }


    #activites a {
        width: 100%;
    }

    .activites-card-shape {
        width: auto;
    }

    .activites-card-shape img {
        width: auto;
        height: 140px;
    }

    /***************FOOTER**************/
    footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        
    }

    footer ul li,
    footer ul li h3 {
        text-align: left;
    }


}