/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid red; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

p{
    font-size: 1rem;
}
a {
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header ***********/
header{
    display: flex;
    justify-content: space-between;
    height: 79px;
  
}

header nav ul{
    display: flex;
}

header nav ul li{
    display: flex;
    margin-left: 50px;
}

header>img{
    width: 61px;
    height: 19px;
    margin-top: 20px;
}

.barre-header{
    width:100%;
    height: 1px;
    background-color: lightgray;
    visibility: hidden;
}

/*Décoration pour la barre au dessus des éléments de navigation*/

header nav ul li  {
    
    position: relative; 
    padding-bottom: 5px;
 
   
}

header nav ul li:hover::before {
    content: ""; 
    position: absolute; 
    top: -20px; 
    left: 0; 
    width: 100%; 
    height: 3px;
    background-color: var(--main-color);
    
}

header a:hover{
    color: var(--main-color);
}
/****** Research ***********/

.headline h1{
    font-size: 1.375rem;
}



.search-bar{
    display: flex;
    margin-bottom: 20px;
   
    /* height: 50px; */
}

input::placeholder{
    font-weight: bold;
    color: black;
 

}
input[type="text"]{
border: 0.5px solid rgb(227, 227, 227);
border-left: none;
border-right: none;
text-align: center;

}


input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
}
.fa-location-dot{
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    color: black;
}
.fa-magnifying-glass{
    visibility: hidden;
}

.search-bar{
    display: flex;
}
.search-bar-logo-container{
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

/*************************Filter*********************/
.filter{
    display: flex;
    align-items: center;
    font-weight: bold;
    
}
.filter-list{
    display: flex;
    padding: 0px;
   
}

.filter-list span{
    margin: 10px;
}
.filter-shape{
    height: 50px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 25px 25px 25px 25px;
    margin: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.filter-list li.filter-shape:hover {
    background-color: var(--filter-bg-color);
}

/*******************Infobar***************/
.info-bar{
    display: flex;
    
    
}
.info-bar-icon-container{
    padding: 10px;
    display: flex;
    width: 12px;
    height: 12px;
    position: relative;
    top: -5px;
    border: solid 1px grey;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-around;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/





#hebergements {
    width: 65%;

   
    
}

#hebergements h4{
    font-weight: bold;
    margin-top: 50px;
    
}
 .hebergements-cards{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    /* padding: 30px;
     */
    
 
    
 }
 .hebergements-cards .card{
    width: 200px;
    height: 200px;
    
    
  

 }

 .hebergements-cards .card img{
    width: 200px;
    max-height: 100px;
    border-radius: 20px 20px 0 0;
   

 }






 .hebergements-cards .card-content {
    width: 100%;
    /* padding-left: 15px; */
    line-height: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top : -10px;
    
    /* justify-content: center; */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/**************************ACTIVITES*************/

#activites{
    /* background-color: red; */
    padding: 30px;
    width: 80%;
}

.activites-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    

   
}
.activites-card-shape{
    height: 440px;
    width: 250px;
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px 20px 20px 20px;
    /* margin: 20px; */
    
    
}

#activites img{
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.activites-title{
   
    margin-bottom: 50px;
}

#activites h3{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 1rem;
    
}
#activites a{
    display: block;
}
/**************FOOTER*******************/
footer{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    align-items: center;
}

footer h3{
    text-align: center;
}

footer li{
    text-align: center;
    line-height: 2rem;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    .main-container {
        padding: 0px;
        margin: auto;
        
        
     
    }





  
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
    }

    .header-nav {
        width: 100%;
        margin: auto;
    }


    .header-nav>ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        padding: 0;
        margin: 0; 
        margin-top: 20px; 
    }

    .header-nav>ul>li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      
    }

    .barre-header{
        visibility: visible;
        margin-bottom: 20px;
        width: 100%;
    }


    header nav ul li {
    
    position: relative; 
    padding-bottom: 15px; 
    
}

header nav ul li:hover::before {
    content: ""; 
    position: absolute; 
    top: 32px; 
    left: 0; 
    width: 100%; 
    height: 3px;
    background-color: var(--main-color);
}

/********************Info groupe***************/

.info-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 15px ;
    visibility: hidden;
}
.fa-magnifying-glass{
    visibility: visible;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 15px ;
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -100px;
    box-shadow: 1px 2px 1px lightgrey;
    
}

.filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.filter h3 {
    text-align: left;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    width: 100%;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 0; 
}

.filter-list li.filter-shape {
    box-sizing: border-box; 
    width: 44%;
    margin: 5px; 
    
}


#activites{

    margin: auto;
}
.activites-cards{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hebergements-and-populaires{
    order: inherit;
}

.populaires-cards{
    flex-direction: column;
}
.populaires{
    order: -1;
    margin-bottom: 20px;
}

.populaires a {
    width: 100%;
}


#hebergements{
    background-color: white;
}
.hebergements-cards a {
    width: 100%;
}



.hebergements-cards{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 100%;
    
}

.hebergements-cards .card{

   width: 100%;
    
}

.hebergements-cards .card img{

    width: 100%;
    object-fit: cover;
    
     
 }
 

#activites a{
    width: 100%;
   
}




.activites-card-shape{
    width: auto;
}


/***************FOOTER**************/
footer{
   
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
  

}

footer ul li, 
footer ul li h3{
    
    text-align: left;
}



}

